@tailwind base;
@tailwind utilities;
@tailwind components;

.eight{
    grid-template-columns: repeat(18, minmax(0, 1fr))
}
.fifteen{
    grid-template-columns: repeat(15, minmax(0, 1fr))
}

.txt{
    text-shadow: 3px 3px 2px violet;
}

.bla{
    text-shadow: 1px 1px 2px black;
}

.beat{
    animation-name: heart;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

@keyframes heart{
    0%{
        transform: scale(1);
    }

    90%{
        transform: scale(0.7);
    }

    /* 100%{
        transform: scale(1);
    } */

}
